/*-------------------------------------------------------Important Notes----------------------------------------------------------------------

- Text colour schemes:  #282c34 is used for venue row text (except for the "perks" text, this is #c9d3db)
- The awesome website for the colour gradient used on cards and the nav bar is: https://www.colorzilla.com/gradient-editor/

/*



/*--------------------------------------------------Navigation Header Section Below--------------------------------------------------------*/


.nav-header {
    display: flex;
    justify-content: space-around;
    background-color: #282c34;
}

.title {
    background-color: #282c34;
    flex-wrap: wrap;
    font-size: calc(20px + 2vmin);
    color: #edf1f4;
    font-size: 40px;
}

.Logo {
    pointer-events: none;
}

.nav-list li {
    list-style: none;
    text-align: center;
    color: #282c34;
    font-weight: 500;
}

.nav-list li:hover {
    text-decoration: underline;
    transition-delay: 2s;
}

.navigation-row {
    /* background-color: rgb(236, 242, 242); */
    opacity: 80%;
    margin-top: 40px;
    padding: 4px;



    background: #828c95;
    /* Old browsers */
    background: -moz-linear-gradient(top, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828c95', endColorstr='#28343b', GradientType=0);
    /* IE6-9 */
}

.nav-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.nav-column-logo {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 20px;
}



/*--------------------------------------------------Drinks Landing Page Section Below--------------------------------------------------------*/

.page-title {
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    color: #c9d3db;
}

.drinks-landing-page-content {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #282c34;
    font-weight: 700;
    font-size: x-large;

}

.page-container {
    background-color: #282c34;
}

div.col {
    padding-left: 30px;
    padding-right: 30px;
}

.landing-page-card {
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    background: #828c95;
    /* Old browsers */
    background: -moz-linear-gradient(top, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828c95', endColorstr='#28343b', GradientType=0);
    /* IE6-9 */

}

.separator-row {
    margin: 20px;
    color: #282c34;
}

button {
    color: #c9d3db;
    background-color: #282c34;
    box-shadow: 0 8px 16px 0 #282c34(0, 0, 0, 0.2), 0 6px 20px 0 #282c34(0, 0, 0, 0.19);
    margin-bottom: 20px;
    border-radius: 12px;
    border-width: 1.5px;
    font-size: smaller;

}

button:hover {
    opacity: 80%;
}

/*-------------------------------------------------------Venue Page Section Below------------------------------------------------------------*/

/*Main row each venue sits in*/
.venue-page {
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;



    background: #828c95;
    /* Old browsers */
    background: -moz-linear-gradient(top, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #828c95 36%, #828c95 36%, #b5bdc8 100%, #28343b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828c95', endColorstr='#28343b', GradientType=0);
    /* IE6-9 */

}

/*Perks Section Title*/
.venue-page h3 {
    font-weight: 700;
    font-size: large;
}

/*Title*/
.venue-page h2 {
    font-weight: 700;
}

/*Address*/
.venue-page h6 {
    font-weight: 300px;
}

/*Perks Section*/
.venue-page p {
    font-weight: 600;
    margin: 0;
    /* background-color: #282c34;
    color: #c9d3db; */
}

/*Perks Section*/
.p1 {
    font-weight: 600;
    margin: 0;
    background-color: #282c34;
    color: #c9d3db;
    border-radius: 12px;
    padding: 5px;
}

/*Perks Section*/
.p2 {
    font-weight: 600;
    margin: 0;
    background-color: #282c34;
    color: #c9d3db;
    border-radius: 12px;
    padding: 5px;
}

/*Perks Section*/
.p3 {
    font-weight: 600;
    margin: 0;
    background-color: #282c34;
    color: #c9d3db;
    border-radius: 12px;
    padding: 5px;
}


/*Menu & Gallery*/
.additional-info-list {
    list-style: none;
    font-size: large;
    padding: 5px;
    font-weight: 500;
}

/*Menu & Gallery Coming Soon*/
.coming-soon {
    font-style: italic;
    font-size: small;
}


